* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  background: #333;
  font-family: cursive;
  font-weight: 400;
}

.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
  font-size: 50px;
  color: #fff;
  line-height: 1.5;
}
